
.cardStyle {
    /* display: block; */
  /* width: 50vw; */
  height: 20vw;
 
 
  
  
}
.cardStyle{
  background-color: rgba(0,0,0,0.70);
  /* position: fixed;  */
   /* height: 100%; */
  /* width: 100%; */
  top: 10px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  z-index: 99999;
}

.package-slide{
    padding: 50px;
  z-index: 999;
  position: relative;
}