.newbrand {
    text-decoration: none;
    color: white;
    font-size: 40px;
    
}

.topnav {
    position: absolute;
    width: 100%;
    padding-bottom: 10;
    /* background-color:#041E42; */
    z-index: 10;
   
}
.btn-info{
    width: 100px;
}